<style>
body {
 line-height: 1.3em; 
/* font-family: "Times New Roman", monospace; */
 font-size: small; 
/* margin-top: 2ex; */
}
strong {
 font-weight: bold; 
}
h2.normal {
 margin-left: 3%; 
 margin-right: 3%; 
 border-bottom-style: solid; 
 border-bottom-width: 4px; 
 border-bottom-color: purple; 
 padding: 0.3em 0 0.3em 0; 
 font-size: large; 
}
h3.normal {
 margin-left: 5%; 
 margin-right: 5%; 
 border-bottom-style: solid; 
 border-bottom-width: 2px; 
 border-bottom-color: black; 
 padding: 0.2em 0 0.2em 0; 
/* background-color: grey; */
}
h4.normal {
 margin-left: 5%; 
 margin-right: 5%; 
/* margin-bottom: 0.7px; */
 margin-bottom: 0.5em; 
/* font-size: 14px; */
 font-size: small; 
 font-family: monospace; 
/* font-weight: normal; */
}
h5.abstract {
 margin-left: 12%; 
 margin-right: 12%; 
/* font-size: 14px; */
 font-size: x-small; 
 font-family: monospace; 
 font-weight: normal; 
}
h5.notice {
 margin-left: 7%; 
 margin-right: 7%; 
/* font-size: 14px; */
 font-size: x-small; 
 font-family: monospace; 
 font-weight: normal; 
}
h5.normal {
 margin-left: 8%; 
 margin-right: 8%; 
/* font-size: 14px; */
 font-size: x-small; 
 font-family: monospace; 
 font-weight: normal; 
}

ul.number {
 list-style-type: decimal; 
/* margin-left: 3em; */
 margin-left: 120px; 
 padding-left: 20px; 
/* padding: 0 0 0.0em 8em; */
/* padding: -5em -2em -4em 0em; */
 text-indent: 0em; 
}
li.number {
 padding: 0; 
}
ul.none {
 list-style-type: none; 
}

li.footnote {
 text-indent: -0.75em; 
/* margin: 0.33em 0.5em 0.5em 1.5em; */
}
ul.footnote {
 list-style-position: inside; 
 width: 76%; 
 padding: 0 0 0.5em 0; 
 margin: 0; 
 list-style: none; 
 line-height: 1.08em; 
 font-size: x-small; 
}

p.footnote {
 width: 76%; 
/* margin-left: 12%; */
/* margin-right: 12%; */
 margin-top: 2em; 
 margin-left: 12%; 
 text-indent: 0em; 
 font-size: x-small; 
 line-height: 1.08em; 
}
p.noindent {
 margin-left: 5%; 
 margin-right: 5%; 
 text-indent: 0em; 
}
p.normal {
 margin-left: 5%; 
 margin-right: 5%; 
}
p.abstract {
 margin-left: 30%; 
 margin-right: 30%; 
/* font-size: 14px; */
 font-size: x-small; 
 font-family: "Times New Roman", monospace; 
 font-weight: normal; 
}
p {
 text-indent: 2em; 
/* margin: 0 0 0.5em 0; */
 margin: 0 0 0.2em 0; 
 padding: 0; 
}

dt.normal {
 margin-left: 5%; 
 margin-right: 5%; 
}
.left {
 text-align: center; 
}
.left table {
 width: auto; 
 margin-left: 7em; 
 margin-top: 0px; 
 margin-right: auto; 
 text-align: center; 
}
</style>
</head>
